.question-card {
  width: 30%;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 1em;
  box-shadow: 5px 10px 10px;
  border-radius: 1em;
}

.answers-container {
  width: 90%;
}